body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url(Assets/footerbg.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: #474747;
}

form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  color: #474747;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background: #474747;
  color: #fff;
  cursor: pointer;
  /* border: 1px solid #474747; */
  border-radius: 4px ;
  transition: 0.8s;
}
button:hover {
  background: #fff;
  color: #474747;
}
button::before {
  background: #474747;
  color: #fff;
  transition: 0.8s;
}

textarea {
  resize: vertical;
}
